*~*
homework/*~*
homework/01/*~*
homework/01/*run_py*
homework/02/*run_py*
project/*~*
homework/01/*.pyc
homework/02/*.pyc
homework/02/models/*
homework/02/SAVEE-British/*
homework/02/EMODB-German/*
homework/03/*.pyc
homework/03/models/*
homework/03/output/all_models_out.csv
homework/03/cifar-100/*
homework/04/*.pyc
homework/04/models/*
homework/04/output/all_models_out.csv