*~*
homework/*~*
homework/01/*~*
homework/01/*run_py*
homework/02/*run_py*
project/*~*
homework/01/*.pyc
homework/02/*.pyc
homework/02/models/*
homework/02/SAVEE-British/*
homework/02/EMODB-German/*
homework/03/*.pyc
homework/03/models/*.meta
homework/03/models/*.index
homework/03/models/*.data*
homework/03/cifar-100/*